* {
    -unity-text-generator: advanced;
    -unity-font-definition: url("project://database/Assets/RTLTMPro/Fonts/segoeuib.ttf?fileID=12800000&guid=d1bdc9dff43912043a4b63e610e99266&type=3#segoeuib");
}
